toolchains.json
.cxxpods
node_modules
dist
website/build
yarn-error.log
*.tsbuildinfo

# iOS / Xcode
*.xcworkspace
**/Pods/
**/xcuserdata/
build/
Podfile.lock

android/third-party/external/

# Android / Intellij
local.properties
*.iml
.gradle/
.idea
.externalNativeBuild

# Mac OS X
*.DS_Store

.settings
.classpath
.project
.cxx
